<h1>About</h1>
<p>Healthy nutritition is important for one's mental capacity and well-being. Since my childhood I am in contact with organic food and its health benefits. My mother used to grow all kinds of herbs, salad, veggies and fruits in our large garden.</p>
<p>However, during my studies I was more concerned with the price of food products than their quality. Fortunately, with my first job came enough financial liberty to invest in my health and well-being.</p>
<p>I like cooking and because of that I frequently have to evaluate recipes and products. With this website I want to share with you what I learned and give you the opportunity to buy products that are good for you.</p>
<p>Enjoy your stay!</p>
