<div class="col-sm-10 col-xs-12 form">
  <% if signed_in? %>
    <%= form_with model:[@product, @product.comments.build], class: "form-comment" do |form| %>
      <h4>Add a review:</h4>
      <div class="field form-group">
        <%= form.label :body, "Comment" %>
        <%= form.text_area :body, id: :comment_body, size: "5x10", style: "resize:none", class: "form-control" %>
      </div>
      <div class="field form-group rating"></div>
      <div class="action form-group">
        <%= form.submit "Submit", class: "btn btn-primary" %>
      </div>
    <% end %>
  <% end %>
</div>
